[submodule "vendor/euicc-schema"]
	path = vendor/euicc-schema
	url = https://github.com/waigel/euicc-schema.git
[submodule "vendor/saip-validator"]
	path = vendor/saip-validator
	url = https://github.com/waigel/saip-validator.git
[submodule "vendor/euicc-lpa"]
	path = vendor/euicc-lpa
	url = https://github.com/waigel/euicc-lpa.git
